<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>

<html>
    <head>
        <title>Le Blog de Julie</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>


<html>
    <head>
        <title>les tribulations de Julie</title>
    </head>
    <body>
        <div>
            <h1><a href="">les tribulations de Julie</a></h1>
        </div>

        {% for post in posts %}
      <div>
          <p>publié: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
    </body>
</html>
