<html>
    <p>Hi there!</p>
    <p>It works!</p>
</html>

<html>
    <head>
        <title>Le Blog de Julie</title>
    </head>
    <body>
        <p>Hi there!</p>
        <p>It works!</p>
    </body>
</html>


<html>
    <head>
        <title>les tribulations de Julie</title>
    </head>
    <body>
        <div>
            <h1><a href="">les tribulations de Julie</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon premier post! YEAH!</a></h2>
            <p>Deuxième journée de formation! Je deviens un Python.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Mon deuxième post! amazing!</a></h2>
            <p>Heureusement que les coachs sont là! sinon je serai pas en train de m'amuser avec le HTML.</p>
        </div>
    </body>
</html>
